html {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
  --primaryColor: #fff;
  --navColor1: #0058ac;
  --navColor2: #00a7de;
  --navColor3: #f07393;
  --navColor4: #7ba84d;
  --navColor5: #ed982a;
  --column-1: #7b4893;
  --column-2: #0057ba;
  --column-3: #1a5a00;
  --column-4: #8d1f5c;
  --border-radius: 10px;
  --primary-color: white;
  --secondary-color: black;
  --background: #f8f8f8de;
  --background-url: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1597158896/recompressedgar-chaparro-.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  --background-opacity: rgba(0, 0, 0, 0.8);
  --background-opacity-secondary: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  background-color: var(--background);
  background-image: var(--background-url);
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;
  color: var(--primary-color);
  font-family: 'Recursive', sans-serif;
  overflow-y: hidden;
}
/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: '';
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* SECTIONS */
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  margin-top: 65px;
  background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1597158896/recompressedgar-chaparro-.jpg');
  background-size: cover;
  background-position: center center;
}
.title {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#clients {
  background-color: var(--navColor2);
}
section#about {
  background-color: var(--navColor2);
}

section#week-hrs {
  background-color: var(--navColor3);
}

section#archive {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

.header {
  display: flex;
  justify-content: center;
  width: 98vw;
  height: 8vh;
  margin: 10px 5px;
  background-color: rgba(0, 0, 0);
  border-radius: 5px;
}

.header h1 {
  font-size: 1.25rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 96vw;
  height: 89vh;
  display: flex;
}
/* ITEMS IN COLUMNS */
.item-list {
  min-height: 50px;
}

.item {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  background-color: var(--background-opacity);
  border-radius: var(--border-radius);
  line-height: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.item:focus {
  outline: none;
  background-color: white;
  color: black;
}

button {
  padding: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
  user-select: none;
  color: white;
  background-color: black;
}

/* MODAL */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  height: 200px;
  width: 200px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
.popup-open {
  opacity: 1;
  animation: modalopen 0.2s;
}
.popup {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  border: solid white 6px;
}
.popup__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  opacity: 1;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
